
<main class="container-fluid">
    <article class="my-3">
        <header>
            <h2 class="text-center text-danger"> 
                Angular Sales Dashboard 
            </h2>
        </header>

        <hr>

        <div class="row">
            <div class="col-12">
                <app-line-chart></app-line-chart>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-6">
                <app-pie-chart></app-pie-chart>
            </div>
            <div class="col-md-6">
                <app-table-chart></app-table-chart>
            </div>
        </div>
    </article>
</main>